

.u-btn {
  /*display: inline-block;*/
  display: table;
  /*TODO maye need another solution for negative marin*/

  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
}
.u-btn:focus,
.u-btn:active:focus,
.u-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-btn:hover,
.u-btn:focus {
  text-decoration: none;
}
.u-input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  color: inherit;
}
.u-form-vertical.u-form-spacing-10 {
  margin-left: -10px;
  width: calc(100% +  10px);
}
.u-form-vertical.u-form-spacing-10 .u-form-group {
  margin-bottom: 10px;
  padding-left: 10px;
}
.u-form-horizontal .input-group {
  width: auto;
}
.u-form-control-hidden {
  display: none !important;
}
.u-form-horizontal .u-btn-submit,
.u-form-vertical .u-btn-submit {
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
}
.u-form div.u-form-send-error,
.u-form div.u-form-send-success {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px 0px 20px 0px;
  border: none;
}
.u-form .u-form-group.u-form-checkbox,
.u-form .u-form-group.u-form-agree {
  display: flex;
}
.u-form .u-form-group.u-form-checkbox input[type="checkbox"],
.u-form .u-form-group.u-form-agree input[type="checkbox"] {
  float: left;
}
.u-form .u-form-vertical .u-form-group.u-form-checkbox,
.u-form .u-form-vertical .u-form-group.u-form-agree {
  align-items: baseline;
}

.u-btn-submit {
  display: inline-block;
}
[data-post-link],
[data-href] {
  cursor: pointer;
}
.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .u-sheet {
    width: 340px;
  }
}
.u-sheet .u-sheet {
  width: 100%;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.u-expanded-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media (min-width: 1200px) {
  .u-expanded-width-xl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-expanded-width-lg {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .u-valign-middle-xl,
  .u-valign-top-xl,
  .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
.u-layout-row > .u-size-15 {
  flex: 0 0 25%;
  max-width: 25%;
}
.u-layout-col > .u-size-15 {
  flex: 15 0 25%;
}

.u-layout-col,
.u-layout-row,
.u-layout-col > * {
  display: flex;
}
.u-layout-col,
.u-layout-row {
  flex: 1 1 100%;
}
.u-layout-row > * {
  max-height: 100%;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}
@media (max-width: 767px) {
  .u-layout-row > * {
    min-width: 100%;
  }
}
.u-layout-col > * {
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}
.u-layout-col {
  flex-direction: column;
  min-height: 100%;
}
.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
}
.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}


.u-map .embed-responsive {
  width: 100%;
  height: 100%;
}
.u-icon {
  display: block;
  line-height: 0;
  border-width: 0px;
}

.u-svg-content {
  width: 0;
  height: 0;
}




.u-align-center {
  text-align: center;
}
@media (min-width: 1200px) {
  .u-align-center-xl {
    text-align: center;
  }
}


@media (max-width: 575px) {
  .u-align-center-xs {
    text-align: center;
  }
}
.u-align-right {
  text-align: right;
}

@media (max-width: 575px) {
  .u-align-right-xs {
    text-align: right;
  }
}
.u-align-justify {
  text-align: justify;
}
@media (min-width: 1200px) {
  .u-align-justify-xl {
    text-align: justify;
  }
}
@media (max-width: 575px) {
  .u-align-justify-xs {
    text-align: justify;
  }
}

.u-border-2,
.u-separator-2:after,
.u-text.u-border-2,
a.u-button-style.u-border-2 {
  border-width: 2px;
}

.u-shape-svg.u-border-2 {
  stroke-width: 2px;
}
.u-link.u-border-2 {
  border-width: 0 0 2px 0;
}
.u-white,
.u-body.u-white,
.u-container-style.u-white:before,
.u-table-alt-white tr:nth-child(even) {
  color: #111111;
  background-color: #ffffff;
}
.u-button-style.u-white,
.u-button-style.u-white[class*="u-border-"] {
  color: #111111 !important;
  background-color: #ffffff !important;
}


.u-grey-5,
.u-body.u-grey-5,
.u-container-style.u-grey-5:before,
.u-table-alt-grey-5 tr:nth-child(even) {
  color: #111111;
  background-color: #f2f2f2;
}
.u-button-style.u-grey-5,
.u-button-style.u-grey-5[class*="u-border-"] {
  color: #111111 !important;
  background-color: #f2f2f2 !important;
}
.u-button-style.u-grey-5:hover,
.u-button-style.u-grey-5[class*="u-border-"]:hover,
.u-button-style.u-grey-5:focus,
.u-button-style.u-grey-5[class*="u-border-"]:focus,
.u-button-style.u-button-style.u-grey-5:active,
.u-button-style.u-button-style.u-grey-5[class*="u-border-"]:active,
.u-button-style.u-button-style.u-grey-5.active,
.u-button-style.u-button-style.u-grey-5[class*="u-border-"].active {
  color: #111111 !important;
  background-color: #dadada !important;
}

a.u-link.u-hover-grey-5:hover {
  color: #f2f2f2 !important;
}
.u-text-body-alt-color,
a.u-button-style.u-text-body-alt-color,
a.u-button-style.u-text-body-alt-color[class*="u-border-"] {
  color: #ffffff !important;
}


    h6
    {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
    .u-gradient > .u-container-layout > a,
    .u-image:not(.u-shading) > .u-container-layout > a,
    a
    {
        color: #4;
    }
    .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a:hover,
    .u-gradient > .u-container-layout > a:hover,
    .u-image:not(.u-shading) > .u-container-layout > a:hover,
    a:hover
    {
        color: #387cbd;
    }
    .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
    .u-gradient > .u-container-layout > .u-btn,
    .u-image:not(.u-shading) > .u-container-layout > .u-btn,
    .u-btn
    {
        background-color: black;
        color: #ffffff;
    }

